.idea

## Description

This tool is used to download Google Maps satellite tiles and merge to a big one.

## Basic usage

Run `go get github.com/twoyao/gtdownloader` to install package. Show command help

